.container {
  /*background-color: black;*/
  margin: 0 auto;
  height: 100%;
}
.grid {
  /*overflow: hidden;*/
  height: calc(100% - 110px);
  /*border: 3px solid black;*/
  width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
}

.grid div {
  float: left; /*takes care of the spaces b/w individual lines*/
}

.lolk {
  background-color: #232323;
  height: 100px;
  width: 83.5px;
  /*float:left;*/
  display: inline-block;
  /*margin-right: 2px;*/
  /*margin-bottom: -2px;*/
}


.a {
  background-color: red;
}
