#grid {
  /*overflow: hidden;*/
  /*height: 500px;
  width: 500px;
  margin: 0 auto;*/
}

.lolk {
  background-color: #232323;
  height: 43px;
  width: 83.5px;
  /*float:left;*/
  display: inline-block;
  /*margin-right: 2px;*/
  /*margin-bottom: -2px;*/
}


.a {
  background-color: red;
}
