body {
	background-color: #ffffff;
	/*height: 100%;*/
}

.container {
	/*height: 100%;*/
}

.grid {
	border: 3px solid black;
	margin: 100px auto;
	width: 600px;
	height: 600px;
	/*background-color:#232323;*/
}

.grid div {
	/*display: inline-block;*/
	float: left;
	background-color: #232323;
	height: 100px;
	width: 83.5px;
}

.lolk.a {
  background-color: blue;
}

.lolk {

}

.controls, a{
	margin: 0 auto;
}
